<h1 class="mt-3 mb-3">Produtos</h1>
<table class="table table-striped">
  <thead>
    <tr *ngFor="let produto of produtos">
      <th scope="col">ID</th>
      <th scope="col">Código de Barras</th>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{produtos.id}}</th>
      <th scope="row">{{produtos.codigoBarras}}</th>
      <th scope="row">{{produtos.nome}}</th>
      <th scope="row">{{produtos.preco}}</th>

    </tr>

  </tbody>
</table>
