<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" >
  <title>Página Inicial</title>
  <link rel="stylesheet" href="./home.component.css">
</head>
<body >
  <div class="card container mt-3 text-center" data-bs-theme="light">
    <H1>Avaliação Angular - Minsait 10/2023</H1>
    <p>Listagem/Cadastro/Edição e Exclusão de produtos</p>
    <div class="imagem" >
    </div>
      <button type="button" class="btn btn-success mb-3 text-center" routerLink="/produtos">Listar Produtos</button>
  </div>
</body>
</html>


